/* set charset */
@charset "UTF-8";

/* import fonts */
@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: Open Sans Light;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: Open Sans Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

/* media query settings */
@media (min-width: 992px) {
    #l-sidebar {
        padding-bottom: 32767px;
        margin-bottom: -32767px;
    }

    #wrapper {
        overflow: hidden;
    }
}

@media (min-width: 568px) {
    .reference-contacts-list li {
        width: 33.33333333333%;
    }
}

/* basic settings */
html {
    height: 100%;
    font-size: 100%;
}

body {
    font: 14px/20px 'Open Sans, Arial, Tahoma';
    width: 100%;
    height: 100%;
    color: #6d6967;
    background: #f8f6f6;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    color: #6d6967;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}



/* icons settings */
div[class*="ic-"],
span[class*="ic-"],
i[class*="ic-"] {
    display: inline-block;
    vertical-align: middle;
    background: url("/images/sprite.png") no-repeat;
}

i.ic-dark-blue-bullet {
    width: 11px;
    height: 11px;
    background: url("/images/black-list-bullet.png") 0 0 no-repeat;
    float: left;
    margin: 3px 16px 0 0;
}

/*icons bg positions*/
div.ic-profile {
    background-position: 0 0;
    width: 83px;
    height: 93px;
    float: left;
}

div.ic-contact {
    background-position: -84px 0;
    width: 83px;
    height: 94px;
    float: left;
}

span.ic-phone {
    width: 57px;
    height: 63px;
    background-position: 0 -375px;
    float: left;
    margin: 0 17px 0 0;
}

span.ic-web {
    width: 57px;
    height: 63px;
    background-position: -57px -375px;
    float: left;
    margin: 0 17px 0 0;
}

span.ic-location {
    width: 57px;
    height: 63px;
    background-position: -114px -375px;
    float: left;
    margin: 0 17px 0 0;
}

div.ic-social-links {
    background-position: -83px -282px;
    width: 83px;
    height: 93px;
    float: left;
}

div.ic-work-experience {
    background-position: -83px -94px;
    width: 83px;
    height: 93px;
    float: left;
}

span.ic-linkedin {
    background-position: -57px -438px;
}

span.ic-facebook {
    background-position: -114px -438px;
}

span.ic-twitter {
    background-position: 0 -501px;
}

/* reference page icons main content */
div.ic-reference {
    background-position: -114px -501px;
    width: 83px;
    height: 93px;
    float: left;
}

i.ic-contact-phone,
i.ic-contact-web,
i.ic-contact-position {
    width: 53px;
    height: 60px;
}

i.ic-contact-phone {
    background-position: 0 -564px;
}

i.ic-contact-web {
    background-position: -53px -564px;
}

i.ic-contact-position {
    background-position: -106px -594px;
}

i.ic-figure-centre {
    width: 26px;
    height: 28px;
    background-position: -167px -596px;
}

/*------------------------------
    LEFT SIDEBAR
-------------------------------*/
#l-sidebar {
    background: #313749;
}

#user-photo {
    width: 169px;
    height: 187px;
    margin: 46px auto 20px auto;
    position: relative;
}

#user-photo img {
    width: 167px;
    height: 187px;
    display: block;
    padding: 1px;
    margin: 0 auto;
}

.photo-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 169px;
    height: 200px;
    background: url(../images/user-avatar-bg.png) no-repeat;
}

#user-name {
    width: 90%;
}

#user-name span {
    display: block;
    text-align: center;
    font: 34px/40px Open Sans Light;
    color: #fff
}

#user-name b {
    font-style: normal;
    font-family: Open Sans Semibold;
}

#user-name i {
    font-style: normal;
    text-align: center;
    display: block;
    font: 22px/30px Open Sans;
    color: #fff;
}

.big-title-l-sidebar {
    margin: 48px 0 0 25px;
}

h3.title-l-sidebar {
    text-transform: uppercase;
    color: #fff;
    font: 26px/32px Open Sans Semibold;
    padding: 31px 0 0 0;
}

.title-l-sidebar {
    overflow: hidden;
}

.title-l-sidebar:before,
.title-l-sidebar:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 4px;
    background: #fff;
    border: solid #FFF;
    border-width: 0 10px;
}

.title-l-sidebar:before {
    margin-left: -100%;
}

.title-l-sidebar:after {
    margin-right: -100%;
}

.l-sidebar-profile-text {
    font: 16px/22px Open Sans;
    color: #fff;
    clear: both;
    width: 80%;
    float: left;
    margin: 24px 0 0 65px;
}

.contact-wrap {
    margin: 8px 0 0 0;
    float: left;
    width: 70%;
}

.l-sidebar-contact-info {
    color: #fff;
    clear: both;
    width: 100%;
    float: left;
    margin: 19px 0 0 0;

}

.l-sidebar-contact-info ul {
    margin: 0 0 0 21px;
    width: 90%;
}

.l-sidebar-contact-info ul li {
    font: 18px/24px Open Sans;
    color: #fff;
    list-style: none;
    margin: 0 0 4px 0;
    padding: 0;
}

.l-sidebar-contact-info ul li span {
    display: block;
}

.l-sidebar-social-links {
    color: #fff;
    clear: both;
    width: 100%;
    float: left;
    margin: 19px 0 0 0;
    padding: 0 0 20px 0;
}

.l-sidebar-social-links ul {
    width: 90%;
    margin: 0 0 0 21px;
}

.l-sidebar-social-links ul li {
    list-style: none;
    margin: 0 0 4px 0;
    padding: 0;
    float: left;
    display: block;
}

.l-sidebar-social-links ul li span {
    width: 57px;
    height: 63px;
    display: block;
    float: left;
    margin: 0 17px 0 0;
}

.social-link-wrap {
    width: 70%;
    float: left;
}

.l-sidebar-social-links ul li a {
    font: 18px/24px Open Sans;
    color: #fff;
    margin: 19px 0 0 0;
    float: left;
}

/*------------------------------
    MAIN CONTENT
-------------------------------*/
.big-title-main-content {
    margin: 46px 0 0 25px;
}

h3.title-main-content {
    text-transform: uppercase;
    color: #313749;
    font: 26px/32px Open Sans Semibold;
    padding: 31px 0 0 0;
}

.title-main-content {
    overflow: hidden;
}

.title-main-content:before,
.title-main-content:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 4px;
    background: #313749;
    border: solid #313749;
    border-width: 0 10px;
}

.title-main-content:before {
    margin-left: -100%;
}

.title-main-content:after {
    margin-right: -100%;
}

.reference-main-list > li {
    clear: both;
    margin: 0 0 50px 0;
    float: left;
    list-style: none;
}

.quote-block {
    margin: 50px 0 0 53px;

}

.left-quote {
    float: left;
    background: url("/images/left-quote.png") 0 40% no-repeat;
    margin: 0 0 30px 0;
}

.right-quote {
    float: left;
    background: url("/images/right-quote.png") 100% 40% no-repeat;
}

.quote-text {
    width: 93%;
    text-align: center;
    font: 16px/20px Open Sans;
    color: #313749;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .quote-text {
        width: 80%;
    }
}

.reference-author-block {
    text-align: center;
    font: 20px/22px Open Sans;
    color: #313749;
    text-transform: uppercase;
    clear: both;

}

.reference-contacts-list {
    margin: 40px 0 0 0;
    clear: both;
    float: left;
}

.reference-contacts-list li {
    list-style: none;
    margin: 0 0 10px 0;
}

.reference-contacts-list li i {
    display: block;
    margin: 0 auto 13px auto;
}

.reference-contacts-list li span {
    font: 16px/18px Open Sans;
    color: #313749;
    display: block;
    text-align: center;
    padding: 0 10px;
}

/* title finish block */
.wrap-title-finish-block {
    margin: 50px 0 0 0;
    float: left;
    clear: both;
    width: 100%;
}

.title-finish-block {
    overflow: hidden;
    clear: both;
    text-align: center;
}
.title-finish-block:before,
.title-finish-block:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 4px;
    background: #313749;
    border: solid #FFF;
    border-width: 0 10px;
}
.title-finish-block:before {
    margin-left: -100%;
}
.title-finish-block:after {
    margin-right: -100%;
}